/******************************************
*  Author : Author   
*  Created On : Sat Oct 27 2018
*  File : config.css
*******************************************/

h1{
    text-align: center;
}
input[type="text"], input[type="password"]{
    width:98%;
    height:30px;
    padding: 5px;
}
select{
    width:100%;
    height:45px;
    padding: 5px;
}
input[type="submit"]{
    width:100%;
    height: 60px;
    background-color: #333333;
    color:#fff;
    font-size:20px;
}
.img{
    width:100%; 
    height:auto; 
    border:2px solid #fff;
}
.link{
    text-align: center;
    margin: 5%;
}
a{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(3, 106, 175);
    color: rgb(3, 106, 175);
    font-weight: bold;
    font-size: 20px;
}