/******************************************
*  Author : Author   
*  Created On : Wed Oct 31 2018
*  File : config.css
*******************************************/
.logo{
    padding-left: 5px;
}
.logo img{
    max-height: 35px;
    float: left;
    padding-top: 2px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

li a:hover {
    background-color: rgb(25, 82, 189);
}
#search{
    font-size: 14px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-top: 7px;
    margin-right: 10px;
    padding: 5px;
    float: right;
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

table{
    width: 100%;
    padding: 10px;
    background: #777;
}

table tr th{
    width: 33%;
    text-align: center;
    color: #FFEB3B;
    font-weight: 900;
    text-transform: uppercase;
}

table tr td{
    width: 33%;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px;
}

