/******************************************
*  Author : Author   
*  Created On : Wed Oct 31 2018
*  File : config-test4.css
*******************************************/
.div1{
    background: #e74c3c;
    left: 0px;
    top: 0px;
    
}
.div2{
    background: blue;
    right:0px;
    top:0px;
}
.div3{
    background: green;
    left:0px;
    bottom: 0px;
}
.div4{
    background: #666666;
    right:0px;
    bottom: 0px;
}
.contenitore {
    position: absolute;
    left:0px;
    right: 0px;
    top:0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}
.contenitore > div{
    width: 50%;
    height: 50%;
    position: absolute;
    text-align: center;
}
.contenitore > div > div{
    position: relative;
    top: 50%;
    transform: translateY(50%);
}