/******************************************
*  Author : Author   
*  Created On : Wed Oct 31 2018
*  File : config-test2.css
*******************************************/

input[type=search] {
    max-width: 70%;
}

.btn-outline-success {
    padding-left: 5px !important;
    max-width: 30%;
}
.container{
    padding-top:5%; 
}
.card-img-top{
    width: 100%;
    height: auto;
}
.card{
    width: 100%;
    margin: 10px;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}
.black{
    background-color: #333;
    color: #fff;
}