/******************************************
*  Author : Author   
*  Created On : Wed Oct 31 2018
*  File : config-test3.css
*******************************************/

.container{
    padding: 5%;
}
.card img{
    width: 100%;
}
.card{
    width: 30%;
    float: left;
    margin: 1%;
    border:1px solid #ddd;
}
.description{
    border-top:1px solid #ddd;
}
.card .description{
    text-align: center;
}
.container .card .thumbnail .date {
    position: absolute;
    top: 30px;
    z-index: 1;
    background: #e74c3c;
    width: 55px;
    height: 55px;
    padding: 12.5px 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .container .card .thumbnail .date .day {
    font-size: 18px;
  }
  .container .card .thumbnail .date .month {
    font-size: 12px;
    text-transform: uppercase;
  }