body{
    font-family: sans-serif;
}
.stato{
    display: none;
    position: fixed;
    background: #607D8B;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    color:#fff;
    
}
/* Home */
.stato#stato-home{
    padding: 20px;
}
.stato#stato-home a{
    float: right;
}
/* fine Home */

/* Gara */
.stato#stato-gara{
    
}

/* Fine Gara */
#titolo{
    background: black;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 60px;
}
#titolo h1{
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.button{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 2px solid #fff;
    display: inline-block;
}

.atleta{
    background: black;
    border-bottom: 1px solid #fff;
}

#atleti{
    margin-bottom: 5%;
}
.info-atleta{
    padding: 10px;
    text-align: left;
}
.info-atleta .nome{
    font-weight: bold;
}
.info-atleta .eta{
    font-weight: bold;
}
.info-atleta .sesso{
    border-left: 1px solid #fff;
    padding-left:5px;
    font-weight: bold;
}
.info-atleta span{
    font-weight: 400;
}
.info-atleta .eta-sesso{
    float: right;
}

.info-atleta div{
    display: inline-block;

}
.avanzamento .barra{
    height:0.7em;
    background: red;
    width: 70%;
}


